<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>

    <!-- For Sprockets HotLoading working, in production, we use Opal through the CDN  -->
    <%= javascript_include_tag 'opal.js'%>

    <!-- For Sprockets HotLoading working in development -->
    <%= javascript_include_tag 'reload.js'%>

    <script src="build/bundle.js"></script>
    <!-- For Sprockets HotLoading working, in production, we use Opal through the CDN  -->
    <!-- The distribution version will bundled bundle.js and application.js into app.min.js -->
    <%= javascript_include_tag 'application.js'%>

    <!-- Note that any CSS in client.js will assed to the JS file by Webpack in production -->
    <!-- Following is only need when in development. -->
    <link rel="stylesheet" type="text/css" href="/app/css/application.css">
  </head>
  <body>
    <div id="site"></div>
  </body>
</html>
