<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>

    <!-- We need this combination to get Sprockets HotLoading working -->
    <!-- The distribution version packages bundle.js and application.js and Opal through the CDN -->
    <%= javascript_include_tag 'opal.js'%>
    <script src="build/bundle.js"></script>
    <%= javascript_include_tag 'reload.js'%>
    <%= javascript_include_tag 'application.js'%>

    <!-- Note that in the production build the CSS is assed to the JS file by Webpack -->
    <!-- You need to require any CSS in client.js -->
    <link rel="stylesheet" type="text/css" href="/app/css/application.css">
  </head>
  <body>
    <div id="site"></div>
  </body>
</html>
